In [565]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/student-mental-health/Student Mental health.csv

In [566]:
import pandas as pd
import numpy as np

In [567]:
df=pd.read_csv('/kaggle/input/student-mental-health/Student Mental health.csv')
df.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [568]:
df.shape

(101, 11)

In [569]:
df['What is your CGPA?'].value_counts()

What is your CGPA?
3.50 - 4.00     47
3.00 - 3.49     43
2.50 - 2.99      4
0 - 1.99         4
2.00 - 2.49      2
3.50 - 4.00      1
Name: count, dtype: int64

In [570]:
def grade_determiner(value):
    if(value=='0 - 1.99 '):
        return 'NP'
    elif(value=='2.00 - 2.49'):
        return 'D'
    elif(value=='2.50 - 2.99'):
        return 'C'    
    elif(value=='3.00 - 3.49'):
        return 'B'
    else:
        return 'A'
    
df['What is your CGPA?']  =df['What is your CGPA?'].apply(grade_determiner)

In [571]:
df['What is your CGPA?']

0      B
1      B
2      B
3      B
4      B
      ..
96     A
97     B
98     A
99     A
100    B
Name: What is your CGPA?, Length: 101, dtype: object

In [572]:
df['What is your CGPA?'].value_counts()

What is your CGPA?
A    52
B    43
C     4
D     2
Name: count, dtype: int64

In [573]:
df.columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

In [574]:
df.columns=['Time','Gender','Age','Course','Year','CGPA','Marital status','Depression','Anxiety','Panic Attacks','Specialist Treatment']

In [575]:
df.head()

,Time,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,B,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,B,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,B,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,B,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,B,No,No,No,No,No

In [576]:
df=df.drop('Time',axis='columns')

In [577]:
df.head()

,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
0,Female,18.0,Engineering,year 1,B,No,Yes,No,Yes,No
1,Male,21.0,Islamic education,year 2,B,No,No,Yes,No,No
2,Male,19.0,BIT,Year 1,B,No,Yes,Yes,Yes,No
3,Female,22.0,Laws,year 3,B,Yes,Yes,No,No,No
4,Male,23.0,Mathemathics,year 4,B,No,No,No,No,No

In [578]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                101 non-null    object
 1   Age                   100 non-null    float64
 2   Course                101 non-null    object
 3   Year                  101 non-null    object
 4   CGPA                  101 non-null    object
 5   Marital status        101 non-null    object
 6   Depression            101 non-null    object
 7   Anxiety               101 non-null    object
 8   Panic Attacks         101 non-null    object
 9   Specialist Treatment  101 non-null    object
dtypes: float64(1), object(9)
memory usage: 8.0+ KB

In [579]:
df.isnull().sum()

Gender                  0
Age                     1
Course                  0
Year                    0
CGPA                    0
Marital status          0
Depression              0
Anxiety                 0
Panic Attacks           0
Specialist Treatment    0
dtype: int64

In [580]:
df.dropna(inplace=True)

In [581]:
df.isnull().sum().sum()

0

In [582]:
df.isnull().sum()

Gender                  0
Age                     0
Course                  0
Year                    0
CGPA                    0
Marital status          0
Depression              0
Anxiety                 0
Panic Attacks           0
Specialist Treatment    0
dtype: int64

In [583]:
df.shape

(100, 10)

In [584]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 100
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                100 non-null    object
 1   Age                   100 non-null    float64
 2   Course                100 non-null    object
 3   Year                  100 non-null    object
 4   CGPA                  100 non-null    object
 5   Marital status        100 non-null    object
 6   Depression            100 non-null    object
 7   Anxiety               100 non-null    object
 8   Panic Attacks         100 non-null    object
 9   Specialist Treatment  100 non-null    object
dtypes: float64(1), object(9)
memory usage: 8.6+ KB

In [585]:
df.head()

,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
0,Female,18.0,Engineering,year 1,B,No,Yes,No,Yes,No
1,Male,21.0,Islamic education,year 2,B,No,No,Yes,No,No
2,Male,19.0,BIT,Year 1,B,No,Yes,Yes,Yes,No
3,Female,22.0,Laws,year 3,B,Yes,Yes,No,No,No
4,Male,23.0,Mathemathics,year 4,B,No,No,No,No,No

In [586]:
df['Age']=df['Age'].astype(int)

In [587]:
df.head()

,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
0,Female,18,Engineering,year 1,B,No,Yes,No,Yes,No
1,Male,21,Islamic education,year 2,B,No,No,Yes,No,No
2,Male,19,BIT,Year 1,B,No,Yes,Yes,Yes,No
3,Female,22,Laws,year 3,B,Yes,Yes,No,No,No
4,Male,23,Mathemathics,year 4,B,No,No,No,No,No

In [588]:
df.tail()

,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
96,Female,21,BCS,year 1,A,No,No,Yes,No,No
97,Male,18,Engineering,Year 2,B,No,Yes,Yes,No,No
98,Female,19,Nursing,Year 3,A,Yes,Yes,No,Yes,No
99,Female,23,Pendidikan Islam,year 4,A,No,No,No,No,No
100,Male,20,Biomedical science,Year 2,B,No,No,No,No,No

In [589]:
def number_picker(strings):
    strings=strings[-1]
    return strings
df['Year']=df['Year'].apply(number_picker)

In [590]:
df.head()

,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
0,Female,18,Engineering,1,B,No,Yes,No,Yes,No
1,Male,21,Islamic education,2,B,No,No,Yes,No,No
2,Male,19,BIT,1,B,No,Yes,Yes,Yes,No
3,Female,22,Laws,3,B,Yes,Yes,No,No,No
4,Male,23,Mathemathics,4,B,No,No,No,No,No

In [591]:
df.tail()

,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
96,Female,21,BCS,1,A,No,No,Yes,No,No
97,Male,18,Engineering,2,B,No,Yes,Yes,No,No
98,Female,19,Nursing,3,A,Yes,Yes,No,Yes,No
99,Female,23,Pendidikan Islam,4,A,No,No,No,No,No
100,Male,20,Biomedical science,2,B,No,No,No,No,No

In [592]:
df.head()

,Gender,Age,Course,Year,CGPA,Marital status,Depression,Anxiety,Panic Attacks,Specialist Treatment
0,Female,18,Engineering,1,B,No,Yes,No,Yes,No
1,Male,21,Islamic education,2,B,No,No,Yes,No,No
2,Male,19,BIT,1,B,No,Yes,Yes,Yes,No
3,Female,22,Laws,3,B,Yes,Yes,No,No,No
4,Male,23,Mathemathics,4,B,No,No,No,No,No

In [593]:
target=df['Depression']
input = df.drop('Depression',axis='columns')

In [594]:
input.head()

,Gender,Age,Course,Year,CGPA,Marital status,Anxiety,Panic Attacks,Specialist Treatment
0,Female,18,Engineering,1,B,No,No,Yes,No
1,Male,21,Islamic education,2,B,No,Yes,No,No
2,Male,19,BIT,1,B,No,Yes,Yes,No
3,Female,22,Laws,3,B,Yes,No,No,No
4,Male,23,Mathemathics,4,B,No,No,No,No

In [595]:
from sklearn.preprocessing import LabelEncoder
le_gender=LabelEncoder()
le_course=LabelEncoder()
le_cgpa = LabelEncoder()

In [596]:
input['Gender_n']=le_gender.fit_transform(input['Gender'])
input['Course_n']=le_course.fit_transform(input['Course'])
input['CGPA_ n']=le_cgpa.fit_transform(input['CGPA'])
input.head()

,Gender,Age,Course,Year,CGPA,Marital status,Anxiety,Panic Attacks,Specialist Treatment,Gender_n,Course_n,CGPA_ n
0,Female,18,Engineering,1,B,No,No,Yes,No,0,17,1
1,Male,21,Islamic education,2,B,No,Yes,No,No,1,25,1
2,Male,19,BIT,1,B,No,Yes,Yes,No,1,4,1
3,Female,22,Laws,3,B,Yes,No,No,No,0,33,1
4,Male,23,Mathemathics,4,B,No,No,No,No,1,37,1

In [597]:
input=input.drop(['Gender','Course','CGPA'],axis='columns')
input.head()

,Age,Year,Marital status,Anxiety,Panic Attacks,Specialist Treatment,Gender_n,Course_n,CGPA_ n
0,18,1,No,No,Yes,No,0,17,1
1,21,2,No,Yes,No,No,1,25,1
2,19,1,No,Yes,Yes,No,1,4,1
3,22,3,Yes,No,No,No,0,33,1
4,23,4,No,No,No,No,1,37,1

In [598]:
def str_to_int(str):
    if(str=='No'):
        str=0
        return str
    else:
        str=1
        return str
input['Marital status']=input['Marital status'].apply(str_to_int)
input['Anxiety']=input['Anxiety'].apply(str_to_int) 
input['Panic Attacks']=input['Panic Attacks'].apply(str_to_int) 
input['Specialist Treatment']=input['Specialist Treatment'].apply(str_to_int)

In [599]:
input.head()

,Age,Year,Marital status,Anxiety,Panic Attacks,Specialist Treatment,Gender_n,Course_n,CGPA_ n
0,18,1,0,0,1,0,0,17,1
1,21,2,0,1,0,0,1,25,1
2,19,1,0,1,1,0,1,4,1
3,22,3,1,0,0,0,0,33,1
4,23,4,0,0,0,0,1,37,1

In [600]:
input.tail()

,Age,Year,Marital status,Anxiety,Panic Attacks,Specialist Treatment,Gender_n,Course_n,CGPA_ n
96,21,1,0,1,0,0,0,2,0
97,18,2,0,1,0,0,1,17,1
98,19,3,1,0,1,0,0,38,0
99,23,4,0,0,0,0,0,39,0
100,20,2,0,0,0,0,1,7,1

In [601]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(input,target,test_size=0.4)

In [602]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators = 20)

In [603]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=20)

In [604]:
model.predict(X_test)

array(['Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No'],
      dtype=object)

In [605]:
model.score(X_test,y_test)

0.9